<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--命名空间,类似包的概念: namespace:绑定一个对应的Dao/Mapper接口-->
<mapper namespace="com.sunny.mapper.TeacherMapper">

    <!--多个查询共同使用的sql-->
    <sql id="Base_where">
        <where>
            <if test="keyword!=null">
                <bind name="keywordLike" value="'%' + keyword +'%'"/>
                AND (name LIKE #{keywordLike} OR sn LIKE #{keywordLike})
              <!--AND (name LIKE concat('%', #{keyword}, '%') OR sn LIKE concat('%', #{keyword}, '%'))-->
            </if>
            <if test="minSalary!=null">
                AND salary >= #{minSalary}
            </if>
            <if test="maxSalary!=null">
                AND salary &lt;=#{maxSalary}
            </if>
            <if test="deptId!=null">
                AND deptId = #{deptId}
            </if>
        </where>
    </sql>

    <!--根据查询条件来查询符合条件的查询-->
    <select id="queryForList" resultType="Employee">
        SELECT * FROM employee
        <include refid="Base_where"></include>
    </select>

    <!--查询符合条件的员工数量-->
    <select id="queryForEmpCount" resultType="int">
        SELECT count(*) FROM employee
        <include refid="Base_where"></include>
    </select>

</mapper>