<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--命名空间,类似包的概念: namespace:绑定一个对应的Dao/Mapper接口-->
<mapper namespace="com.sunny.mapper.UserMapper">

    <select id="getUserList" resultType="User">
        SELECT * FROM user;
    </select>

    <!-- #{id} 相当于在测试方法中selectOne传递过来的值 -->
    <select id="getUser" resultType="User">
        SELECT * FROM user WHERE id = #{id};
    </select>

    <update id="updateUser">
        UPDATE user SET name = #{name}, pwd = #{pwd} WHERE id = #{id};
    </update>

    <insert id="insertUser" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO user (id, name, pwd) VALUES (null , #{name}, #{pwd});
    </insert>

    <delete id="deleteUser">
        DELETE FROM user WHERE id = #{id};
    </delete>

    <!--查询一共有多少用户-->
    <select id="queryUserCount" resultType="_int">
        SELECT COUNT(id) FROM user;
    </select>

    <!--只查询user表的id和name列-->
<!--    <select id="queryUserByIdAndName" resultType="User">-->
<!--        SELECT id,name FROM user;-->
<!--    </select>-->

    <select id="queryUserByIdAndName2" resultType="map">
        SELECT id, name FROM user;
    </select>

</mapper>